version: "3.9"

services:
  db:
    image: postgres:16
    container_name: rentsight_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - rentsight_pgdata:/var/lib/postgresql/data

volumes:
  rentsight_pgdata:
